*.gz
*.kraken
*.fa
*bowtie2
metadata/*metadata_*
metadata/**/**.xml
metadata/**/**.csv
metadata/**/**.sh
#runs/**/[A-Z]RR*
#runs/analysis/[A-Z]RR*
runs/analysis/2021_03_26/[A-Z]RR*
*.xml
c++/*/*
c++/*.out
c++/*.o
c++/test*.cpp
**.out
scripts/test**
reports_to_xml/test**
c++/main_with_signals.cpp
c++/Makefile_signals
c++/signals_example.cpp
scripts/god_with_signals.sh
z_prof_scripts/*
sql/log_postgres.log
sql/4_population/0_kdb_KrakenDatabase.sql
sql/4_population/0_sra_Institution.sql
sql/4_population/0_sra_Study.sql
sql/4_population/0_sra_Submission.sql
sql/4_population/1_sra_StudySubmission.sql
sql/4_population/1_sra_StudySupervisor.sql
sql/4_population/2_tax_Taxon_2020-12-01.sql
sql/4_population/3_kdb_KrakenRecord_Standard-16_2020-12-02.sql
sql/4_population/3_sra_Sample.sql
sql/4_population/4_sra_Experiment.sql
sql/4_population/4_sra_StudySample.sql
sql/4_population/5_sra_Run.sql
sql/4_population/6_rep_Report.sql
sql/4_population/6_sra_Run_RunOutcomeUpdate.sql
sql/4_population/7_rep_ReportTaxon.sql
metadata/run_runoutcome_2021_08_01.sql
reports_to_xml/*
scripts/old_scripts/*
metadata/*
create_sql_files_to_populate_db/kraken2_taxonomy/Kraken2_Standard-16_2020-12-02_inspect.txt
create_sql_files_to_populate_db/ncbi_taxonomy/taxonomy_2020-12-01/*