*.gz
*.kraken
*.fa
*bowtie2
metadata/experiment_formatted.xml
metadata/*
#runs/**/[A-Z]RR*
#runs/analysis/[A-Z]RR*
runs/analysis/2021_03_26/[A-Z]RR*
*.xml
c++/storeruns*/*
c++/*.out
c++/*.o
c++/test*.cpp
c++/metadata_COPY_FOR_TESTING/*