*.gz
*.kraken
*.fa
*bowtie2
metadata/*metadata_*
metadata/**/**.xml
metadata/**/**.csv
metadata/**/**.sh
#runs/**/[A-Z]RR*
#runs/analysis/[A-Z]RR*
runs/analysis/2021_03_26/[A-Z]RR*
*.xml
c++/*/*
c++/*.out
c++/*.o
c++/test*.cpp
**.out
scripts/test**
reports_to_xml/test**